<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road to 10k</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px; position:relative;" class="ui container">
        <h1 class="ui center aligned header">Road to 10k</h1>
        <a href="/registration" class="ui green button" style="position:absolute;right:0;top:0">Log in / Sign up </a>
        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>Session tag</label>
                <input type="text" name="tag" placeholder="Start new session ..."><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>
        <label>Sessions history</label>
        <hr>
        
        {% for session in session_history %}
        <div class="ui segment">
            <p class="ui big header"> Worked on {{session.tag}} for {{session.time_passed}} on {{session.created_at}} </p>

            <a class="ui red button" href="/delete/{{ session.session_id }}">Delete session</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>